{% extends 'base.html.twig' %}

{% block body %}
<nav class="container">
	<h1 class="text-center">
		<a href="{{ path('homepage') }}">
			Art Viewer
		</a>
	</h1>
	<form class="form-sm mt-3">
		<input class="form-control form-control-sm mb-2 mt-2 autocomplete-tags" type="search" name="tags" value="{{ app.request.query.get('tags') }}" placeholder="Search tags..." autocomplete="off">

		<div class="row">
			<div class="col-12 col-sm-4">
				<select class="form-control form-control-sm" name="website">
					<option value="">All websites</option>
					{% for key,value in websites %}
						<option value="{{ key }}" {{ app.request.query.get('website') == key ? "selected" }}>
							{{ value }}
						</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-12 col-sm-4">
				<select class="form-control form-control-sm mt-2 mt-sm-0" name="rating">
					<option value="">All ratings</option>
					<option value="safe" {{ app.request.query.get("rating") == "safe" ? "selected" }}>
						Safe
					</option>
					<option value="adult" {{ app.request.query.get("rating") == "adult" ? "selected" }}>
						Adult / Questionable
					</option>
				</select>
			</div>
			<div class="col-12 col-sm-4">
				{% set limits = [25,50,100,200,500] %}
				<select class="form-control form-control-sm mt-2 mt-sm-0" name="limit">
					{% for l in limits %}
						<option value="{{ l }}" {{ limit == l ? "selected" }}>
							{{ l }} per page
						</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<button class="btn btn-primary btn-block btn-sm mt-2" type="submit">
			Filter
		</button>
	</form>
</nav>

<div class="content mt-2 pb-4 pt-4">
	<div class="row">
		{#<div class="col-2 d-none d-md-block">
			<div class="tags container-fluid">
				{% for tagRow in tagData %}
					{% set tag = tagRow["tag"] %}
					<div class="tag">
						<a href="{{ path('homepage', {'tags': tag.name}) }}">{{ tag.name }}</a>
						<span class="countItems">{{ tagRow.countItems }}</span>
					</div>
				{% endfor %}
			</div>
		</div>#}
		<div class="col text-center">
			{% if pageCount > 0 %}
				{% spaceless %}
					{% for item in items %}
						<a class="art" href="{{ item.url }}" style="background-image:url('{{ item.thumbnailUrl }}')" target="_blank" rel="noopener noreferrer" title="{{ item.title }}">
							<img class="website" src="{{ asset(item.websitePicture) }}" alt="">
						</a>
					{% endfor %}
				{% endspaceless %}
			{% else %}
				<p>No art found</p>
			{% endif %}
		</div>
	</div>
</div>

{% if pageCount > 1 %}
	{% set route = app.request.get('_route') %}
	{% set routeParams = app.request.get('_route_params')|merge(app.request.query) %}
	<ul class="pagination justify-content-center mt-4">
		<li class="page-item {{ page == 1 ? "disabled" }}">
			<a class="page-link" href="{{ path(route, routeParams|merge({'page': 1})) }}">
				&lt;&lt;
			</a>
		</li>
		<li class="page-item {{ page == 1 ? "disabled" }}">
			<a class="page-link" href="{{ path(route, routeParams|merge({'page': page - 1})) }}">
				&lt;
			</a>
		</li>
		{% if pageCount < 10 %}
			{% for i in 1..pageCount %}
				<li class="page-item {{ i == page ? "active" }}">
					<a class="page-link" href="{{ path(route, routeParams|merge({'page': i})) }}">
						{{ i }}
					</a>
				</li>
			{% endfor %}
		{% else %}
			{% for i in -5..5 %}
				{% if (page + i) >= 1 and (page + i) <= pageCount %}
					<li class="page-item {{ i == 0 ? "active" }}">
						<a class="page-link" href="{{ path(route, routeParams|merge({'page': (page + i)})) }}">
							{{ page + i }}
						</a>
					</li>
				{% endif %}
			{% endfor %}
		{% endif %}
		<li class="page-item {{ page == pageCount ? "disabled" }}">
			<a class="page-link" href="{{ path(route, routeParams|merge({'page': page + 1})) }}">
				&gt;
			</a>
		</li>
		<li class="page-item {{ page == pageCount ? "disabled" }}">
			<a class="page-link" href="{{ path(route, routeParams|merge({'page': pageCount})) }}">
				&gt;&gt;
			</a>
		</li>
	</ul>
{% endif %}

<br>

<p class="text-center">
    <a href="https://github.com/Yuzmi/artviewer">
        <i class="fa fa-github fa-2x"></i>
    </a>
</p>
{% endblock %}
